<ion-content [fullscreen]="true">
  <div class="logo-container">
    <div class="logo">
      <img src="assets/icon/cat paw.png">
    </div>
  </div>
  <div class="login-form">
    <form method="POST">
      <ion-input label="Nome" label-placement="stacked" fill="outline" placeholder="Exemplo: Byanca Maria"></ion-input>
      <ion-input label="Senha" label-placement="stacked" fill="outline" placeholder=""type="Senha"></ion-input>
      <ion-button id="open-action-sheet">LOG IN</ion-button>
      
    </form>
  </div>
</ion-content>