:root {
  --highlight-color: #F6A4F1
}

ion-content {
  position: relative;
  --background: linear-gradient(to left, #F6A4F1, #FEF7AE)
}

.logo-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container .logo {
  padding: 20px;
  background: white;
  border-radius: 15px
}

.logo-container .logo img {
  width: 50px;
}

.login-form {
  color: black;
  height: 70vh;
  background: white;
  border-top-right-radius: 70px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 60px;
}

ion-input {
  --highlight-color: #fa89f2;
  --placeholder-color: #cacaca;
  --placeholder-color: #ff61da;
}

ion-button {
  --color: #fa89f2;
  --background:#whiter;
}